<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showDoctorSchedule">
        <a href="/doctor-schedule" class="nav-link" routerLink="doctor-schedule">Schedule</a>
      </li>
      <li class="nav-item"  *ngIf="showPatientSchedule">
        <a href="/patient-schedule" class="nav-link" *ngIf="isLoggedIn" routerLink="patient-schedule">Schedule</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">Profile</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Log out</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <footer class="bg-light text-center text-white">
    <div class="text-center p-3 bg-primary">
      © 2021 Hospital Victoria La Salle. 
      Contact us: <i>phone:</i> (+52) 834 184 9900 <i>email:</i> contacto@hospitalvictorialasalle.com
      <a class="text-white" href="https://www.hospitalvictorialasalle.com/">
        </a>
    </div>
</footer>
</div>
