<div class="container p-3" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h1 class="text-center">
      <b>User:</b> {{ currentUser.email }}
    </h1>

    <div class="col-md-12 row p-3">
      <div class="col-md-6">
        <h3>
          <strong>Role:</strong>
          {{ currentUser.role }}
        </h3>
        <h3>
          <strong>First name:</strong>
          {{ userData.firstName }}
        </h3>
        <h3>
          <strong>Last name:</strong>
          {{ userData.lastName }}
        </h3>
        <h3>
          <strong>Country:</strong>
          {{ userData.country }}
        </h3>
        <h3>
          <strong>City:</strong>
          {{ userData.city }}
        </h3>
      </div>

      <div class="col-md-6">
        <h3>
          <strong>Bio:</strong>
          {{ userData.bio }}
        </h3>
        <h3>
          <strong>Phone number:</strong>
          {{ userData.phoneNumber }}
        </h3>

        <div *ngIf="currentUser.role == 'doctor'">
          <h3>
            <strong>Experience years:</strong>
            {{ userData.experienceYears }}
          </h3>
          <h3>
            <strong>Rating:</strong>
            {{ userData.rating }}
          </h3>
        </div>
    
        <div *ngIf="currentUser.role == 'patient'">
          <h3>
            <strong>Address:</strong>
            {{ userData.address }}
          </h3>
        </div>

      </div>
    </div>

    <div class="row m-l-r-40">
      <div class="col text-center">
        <button class="btn btn-primary btn-block" (click)="changeProfileData()">
          Change profile data
        </button>
      </div>
    </div>

  </header>
</div>
  
<ng-template #loggedOut>
  Please login!
</ng-template>

