<div class="col-md-12 p-5">
    <div class="align-self-center">
        <h1>Hospital Victoria La Salle</h1>
        <div class="row">
            <div class="p-3 col-md-4">
                <iframe 
                    width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/4PcOWVWJB0o" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            </div>
            <div class="col-md-4 main-desc">
                En Hospital Victoria La Salle nos aseguramos que tu atención médica sea de calidad.<br/><br/>
                Nuestros especialistas están formados con humanidad y ética profesional brindando así diagnósticos precisos al momento de tu atención.<br/><br/>
                Creemos que nuestra meta principal es el bienestar de todos los Victorenses y nuestra experiencia nos respalda.
            </div>
        </div>
    </div>
</div>